.hero {
  width: 100%;
  height: 70vh;
  background: linear-gradient(135deg, rgba(12, 40, 116, 0.9) 0%, rgba(12, 40, 116, 0.9) 100%), url("../../assets/img/bg-page2.jpg"), center no-repeat;
  background-size: cover;
  position: relative;

}

.hero::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background: url("../../assets/img/wave-small.png") center no-repeat;
  background-size: cover;
}

.hero2::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  background: url("../../assets/img/wave-small2.png") center no-repeat;
  background-size: cover;
}

.hero3 {
  width: 100%;
  height: 70vh;
  background: linear-gradient(135deg, rgba(25, 50, 124, 1) 0%, rgba(25, 50, 124, 1) 100%),  center no-repeat;
  background-size: cover;
  position: relative;

}

.hero3::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background: url("../../assets/img/wave-small.png") center no-repeat;
  background-size: cover;
}

.hero2 {
  width: 100%;
  height: 70vh;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), center no-repeat;
  background-size: cover;
  position: relative;

}





.main-message{
  width: 100%;
  max-width: 100rem;
  color: #fafafa;
  text-transform: uppercase;
  transform: translateY(100%);
}

.main-message h3 {
  font-size: 1.6rem;
}

.main-message h1 {
  font-family: sans-serif;
  font-size: 4rem;
  margin: 5rem 0;
}

.main-message p{
  text-transform: lowercase;
}

.card {

  box-shadow: 0 5px 10px rgba(12, 40, 116, 0.9);
  border-radius: 20px;
}



.nosEquipes {
      background-image: url("../../assets/img/bg-page2.png");

      background-position: top;
      background-repeat: no-repeat;
      margin-top: 100px;
      padding-top: 200px;
}

.bg-page4 {

  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 20vh;
  z-index: 10;

}

hr {
  width: 100px;
  margin-left: center;
  height: 4px;
  margin-bottom: .8rem;
  margin-top: 1rem;
  border: 0;
  background-color: #19327c;
}

.position-relative{
  position: relative!important;
}
.HeaderPage{
  display: flex;
  align-items: center;
  padding-top: 77px;
  border-bottom: 1px solid #fff;
  background-size: cover;
  background-attachment: fixed;
  min-height: 420px;
  color: #fff;
}




.contenair{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contenaire{
  padding-top: 10px;
  width: 100%;
  margin: 0, auto;

}

.contenaire > h1, .titre-nosServices {
  font-weight: 300 !important;
  letter-spacing: 1px;
  color: #081829;
}

.contenaire > h1, .contenaire > p{
  text-align: center;
}

.services2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  bottom: 200px;
  height: 400px;
  box-shadow: 0 5px 20px rgba(0,0,0);
  border-radius: 40px;
  background-color: white;
}



.services2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 190px;
  margin-left: 300px;
  margin-right: 300px;
  box-shadow: 0 5px 20px rgba(0,0,0);
  border-radius: 40px;
  background-color: white;
}



.service:hover{
    background-color: white;
    transform: translateY(-3px);
}

.service::before{
  content: '';
  border-width: 20px;
  border-style: solid;
  border-color: #222f3e #222f3e rgba(1, 1, 1, 0.4) rgba(0, 0, 0, 0.4);
  position: absolute;
  right: -40px;
  top: -40px;
  transition: right 0.3s ease-out,
              top 0.3s ease-out;
}

.service:hover::before{
  right: 0;
  top: 0;
}

.service > i{
  display: block;
  color: #081829;
  font-size: 4rem;
  margin-bottom: 0.9rem;
  transition: color 0.3 ease-out;
}

.service > .title {
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 1.55rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  transition: color 0.3 ease-out;
}

.service > .descriptionText-nosServices {
  line-height: 1.55rem;
  margin: 0;
  transition: color 0.3 ease-out;
}

.service:hover > i,
.service:hover > ..titre-nosServices,
.service:hover > .descriptionText-nosServices{
  color: #081829;
}

.row{
  display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.zoneText{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center!important;
}

.titres{
  font-size: 40px;
  margin-top: 60px;
<<<<<<< HEAD


=======
>>>>>>> 9dfdac154040e9539562283b74567f8e4ed9fd48
}

.zoneText2{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center !important;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h1 {
  color:#19327c;
}



.description{
  margin: 6rem 0;
  position: relative!important;
}

.descriptionText{
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 12%;
}

.descriptionImg{
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    position: relative;
    width: 100%;
    padding-right: 10%;
    padding-left: 15px;
}
