.all {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.container2 {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
  flex-wrap: wrap;
  padding: 30px;
}

.container2 .card2 {
  position: relative;
  max-width: 300px;
  height: 230px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(25, 50, 124, 1);
  transition: 0.6s ease-in-out;
}

.container2 .card2:hover{
  height: 420px;
}

.container2 .card2 .imgBx {
  position: relative;
  width: 230px;
  height: 230px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container2 .card2 .imgBx img{
  max-width: 100%;
  border-radius: 4px;
}


.container2 .card2 .content2 {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container2 .card2:hover .content2 {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.competences {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}