section{
  margin-top: -1px;
}

.section2 {

margin-top: 20px;
}

.hero {
  width: 100%;
  height: 70vh;
  background: linear-gradient(135deg, rgba(12, 40, 116, 0.9) 0%, rgba(12, 40, 116, 0.9) 100%), url("../../assets/img/bg-page2.jpg"), center no-repeat;
  background-size: cover;
  position: relative;
  
}



.hero::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background: url("../../assets/img/wave-small.png") center no-repeat;
  background-size: cover;
}


.contenair{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.tabs {
  color: black;
}
