section{
  margin-top: -1px;
}
.HeaderPage{
  display: flex;
  align-items: center;
  padding-top: 77px;
  border-bottom: 1px solid #fff;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 420px;
  color: #fff;
}

.Background{
    background-image: url("../../assets/img/bg-page2.png");
    background-position: top;
    background-repeat: no-repeat;
}


.contenair{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row{
  display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.zoneText{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center!important;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.description{
  margin: 6rem 0;
  position: relative!important;
}

.descriptionText{
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  position: relative;
  width: 100%;
  padding-right: 3%;
  padding-left: 15%;
}

.descriptionImg{
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    position: relative;
    width: 100%;
    padding-right: 10%;
    padding-left: 15px;
}

.descriptionTitre{
  background: -webkit-linear-gradient(.9turn,#2CDA6C 10%,#C5FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: initial;
  margin-bottom: 3%;
}

p{
  text-align: left;
}

.logoCesi{

}
