.header {
    background-color: 'white-light';
    display: flex;
    flex: 1;
  }

  .Menu{
    flex: 1;

  }

.justify-content-center{
  align-items: baseline;
  justify-content: space-evenly!important;
}

a{
  color: black;
  font-size: 120%
}

a:hover{
  color: #2CDA6C;
}

.logo{

  width: 100%
}

.MenuText{
  margin-top: 15px
}
