.header {

    display: flex;
    flex: 1;
  }

  #Header{
      top: 0;
      min-height: 77px;
      background-color: #fff;
      box-shadow: 0 7px 6px 0 rgba(0,0,0,.1);

  }
  .Menu{
    flex: 1;

  }

.justify-content-center{
  align-items: baseline;
  justify-content: space-evenly!important;
}

a{
  color: black;
  font-size: 110%
}

a:hover{
  color: #2CDA6C;
}

.logo{

  width: 80%
}

.MenuText{
  margin-top: 15px
}

.active{
  color: 'black'

}
